{{define "datagrid"}}
<table>
    <thead>
        <tr>
            {{range .Columns}}
            <th>
                {{ .Name }}
            </th>
            {{end}}
        </tr>
    </thead>

    <tbody>
        {{range .Rows}}
        {{$row := .}}
        <tr>
            {{range $i, $cell := .Cells}}
                {{$col := index $.Columns $i}}
                {{if $col.Editable}}
                <td>
                    <form hx-patch="/api/dv-log/edit" hx-encoding="json">
                        <input name="RowID" type="hidden" value="{{$row.ID}}">
                        <input name="Column" type="hidden" value="{{$col.Name}}">
                        <textarea name="Value">{{$cell}}</textarea>
                        <button>
                            Save
                        </button>
                    </form>
                </td>
                {{else}}
                <td>{{$cell}}</td>
                {{end}}
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}