{{define "datagrid"}}
<div class="row">
    <form class="row" hx-get="{{.Endpoint}}" hx-target="#datagrid-rows" hx-trigger="load, change delay:200ms">
        <label>
            Rows
            <input name="numrows" type="number" value="10" min="10" max="500" required>
        </label>

        <label>
            Page
            <input name="page" type="number" value="1" required min="1">
        </label>

        <label>
            Filter
            <input name="filter">
        </label>

        <label>
            Sort by
            <input name="sortby">
        </label>
    </form>
</div>

<table id="datagrid-rows"></table>
{{end}}

{{define "datagrid-rows"}}
<table id="datagrid-rows">
    <thead>
        <tr>
            <th>#</th>
            {{range .Columns}}
            <th>
                {{ .Name }}
            </th>
            {{end}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{if not .Rows}}
        <tr>
            <td colspan="{{.NumColumns}}">No rows returned</td>
        </tr>
        {{end}}

        {{range .Rows}}
        {{$row := .}}
        <tr>
            <td>{{.Number}}</td>

            {{range $i, $cell := .Cells}}
            {{$col := index $.Columns $i}}
            {{if $col.Editable}}
            <td>
                <form class="row" hx-patch="/api/dv-log/edit" hx-encoding="json" hx-target="next .result">
                    <input name="rowid" type="hidden" value="{{$row.ID}}">
                    <input name="column" type="hidden" value="{{$col.Name}}">
                    <textarea cols="40" name="value">{{$cell}}</textarea>
                    <button>
                        Save
                    </button>
                </form>

                <div class="result"></div>
            </td>
            {{else}}
            <td>{{$cell}}</td>
            {{end}}
            {{end}}

            <td>{{.Actions}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}