{{define "datagrid"}}
<table>
    <thead>
        <tr>
            {{range .Columns}}
            <th>
                {{ .Name }}
            </th>
            {{end}}

            <th>
                <!-- Controls -->
            </th>
        </tr>
    </thead>

    <tbody>
        {{range .Rows}}
        <form>
            <tr>
                {{range $i, $cell := .Cells}}
                    {{$col := index $.Columns $i}}
                    {{if $col.Editable}}
                    <td>
                        <textarea name="{{$col.Name}}">{{$cell}}</textarea>
                        <button>Save</button>
                    </td>
                    {{else}}
                    <td>{{$cell}}</td>
                    {{end}}
                {{end}}
            </tr>
        </form>
        {{end}}
    </tbody>
</table>
{{end}}