<!DOCTYPE html>
<html>

<head>
    <meta name="color-scheme" content="dark light">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0"
        integrity="sha384-BvJpBiO8Kh31EqtJe5DRIeWrHWnCGkwytKs9NKFi86Hhw96dEqdEMzZDeK9iEGTc"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/theme.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <main>
        {{template "dv-log-table" .}}
    </main>
</body>

</html>